# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

* Python.


* R.


* SQL

Some of the commonly used libraries used by Data Scientists include:
    
  1.Pandas

  2.NumPy
    
  3.Matplotlib

Data Science Tools
    
* Jupyter 
          
   *  Rstudio 
          
        *  spyder

### Below are a few examples of evaluating arithmetic expressions in Python

 (3*4)+5

his a simple arithmetic expression to mutiply then add integers

In [10]:
 (3*4)+5

17

In [ ]:
200 minutes  into hours

This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

## Author

Mohamed Abdelazeim Elrayah